asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.3.2
crispy-bootstrap5==0.7
distlib==0.3.7
Django==4.2.6
django-cors-headers==4.3.1
django-crispy-forms==2.1
filelock==3.12.4
gunicorn==21.2.0
idna==3.6
packaging==23.2
Pillow==10.1.0
pipenv==2023.10.20
platformdirs==3.11.0
requests==2.31.0
setuptools==68.2.2
sqlparse==0.4.4
stdio==1.0.0
urllib3==2.1.0
virtualenv==20.24.5
