{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Log In{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/passandlog.css' %}">
<div class="container">
    <h2>Log In</h2>
    <form method="POST" class="form">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="form-group">
            <button type="submit" class="btn btn-success">Log In</button>
        </div>
    </form>
    <p><a href="{% url 'password_change' %}">Forgot your password?</a></p>
</div>
{% endblock content %}