{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Password Change{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/passandlog.css' %}">
<div class="container">
    <h2>Password Change</h2>
    <form method="POST" class="form">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="form-group">
            <button type="submit" class="btn btn-success">Change my password</button>
        </div>
    </form>
</div>
{% endblock content %}