{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Password Change{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Password change</h1>
                    <p class="card-text">Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

                    <form method="POST" class="form">
                        {% csrf_token %}
                        {{ form|crispy }}

                        <div class="form-group">
                            <input class="btn btn-success" type="submit" value="Change my password">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy4W93NqL4H9HJg1eGtSzgTVCCvW9KgM1" crossorigin="anonymous">
