<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Weather</title>
    <!-- Just googled the bootstrap link; haven't tested it yet. Essentially a placeholder for now -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <script>
        function geocode(loc){
            const lat_long = [];
            var location = loc;
            axios.get('https://geocode.maps.co/search',{
                params:{
                    q:location
                }
            })
            .then(function(response){
                // Log full response
                console.log(response);

                //Formatted address
                console.log(response.data[0].boundingbox[0]);
                console.log(response.data[0].boundingbox[2]);
                lat_long[0] = response.data[0].boundingbox[0];
                lat_long[1] = response.data[0].boundingbox[2];
            })
            .catch(function(error){
                console.log(error);
            });
            forecast(lat_long[0],lat_long[1]);
        }
        function forecast(lat,long){
            const forecast_pic = [];
            var latitude = lat;
            var longitude = long;
            axios.get('https://api.weather.gov/points/'+latitude+','+longitude)
            .then(function(response){
                console.log(response);
                axios.get(response.data.properties.forecast)
                .then(function(response){
                    console.log(response);
                    //Change to return when the forecast is followed by
                    //forecast and icon. Return in array 3 at a time for
                    //"three day forecast"
                    console.log(response.data.properties.periods[0].name);
                    console.log(response.data.properties.periods[0].detailedForecast);
                    console.log(response.data.properties.periods[0].icon);
                    forecast_pic[0] = response.data.properties.periods[0].name;
                    forecast_pic[1] = response.data.properties.periods[0].detailedForecast;
                    forecast_pic[2] = response.data.properties.periods[0].icon;

                    forecast_pic[3] = response.data.properties.periods[0].name;
                    forecast_pic[4] = response.data.properties.periods[0].detailedForecast;
                    forecast_pic[5] = response.data.properties.periods[0].icon;

                    forecast_pic[6] = response.data.properties.periods[0].name;
                    forecast_pic[7] = response.data.properties.periods[0].detailedForecast;
                    forecast_pic[8] = response.data.properties.periods[0].icon;

                    forecast_pic[9] = response.data.properties.periods[0].name;
                    forecast_pic[10] = response.data.properties.periods[0].detailedForecast;
                    forecast_pic[11] = response.data.properties.periods[0].icon;

                    forecast_pic[12] = response.data.properties.periods[0].name;
                    forecast_pic[13] = response.data.properties.periods[0].detailedForecast;
                    forecast_pic[14] = response.data.properties.periods[0].icon;

                    forecast_pic[15] = response.data.properties.periods[0].name;
                    forecast_pic[16] = response.data.properties.periods[0].detailedForecast;
                    forecast_pic[17] = response.data.properties.periods[0].icon;
                })
                .catch(function(error){
                    console.log(error);
                });
            })
            .catch(function(error){
                console.log(error);
            });
            return forecast_pic;
        }
    </script>
    <h1>Weather</h1>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="text" name="textfield" placeholder="Name of city">
        <button onclick="geocode('textfield')">Add a new city</button>
    </form>

    <div>
        <!-- This will show an image of our current weather conditions; National Weather Service seemed to provide a faulty link that doesn't work; will probably have to change later on-->
        <img src="http://weather.gov/images/fcicons/tsra.jpg" alt="conditions" style="width:35px; height:35px;">  
        <div>
            <h2>New York City</h2>
            <p>21000° F</p> 
            <p>Deathly hot conditions in NYC</p>
        </div>
    </div>
    
</body>
</html>
